@import '../../../assets/styles/variable';
@import '../../../assets/styles/mixins';
@import '../../../assets/styles/components';

.information {
  width: 100%;

  &_margin-top-m {
    margin-top: 3.2rem !important;
  }

  &__title {
    @include title();

    color: $color-black-dark;
  }

  &__container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 1.6rem;

  }
}

.scrum-drag {
  width: 100%;

  &__text {
    @include sub-title();

    margin-bottom: 1.2rem;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 8.4rem;
    padding: 1.6rem;
    border-radius: 8px;
    background-color: $color-gray-light4;
  }
}

.drag-card {
  padding: .8rem;
  border: 2px solid $color-black-dark;
  border-radius: 8px;
  background-color: $color-white;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 1rem;
  }

  &__text {
    @include sub-title();
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.scrum-drag__box.cdk-drop-list-dragging .drag-card:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
