<div class="scrum">
  <div class="scrum__header">
    <ng-container *ngIf="!isTesting; else testingHeader">
      <h3 class="scrum__h3">Scrum的介紹</h3>
      <a class="btn btn_secondary btn_test" *ngIf="!isTesting" [class.btn_disabled]="!isCanStartTest" (click)="isTesting = true">準備好測驗了</a>
    </ng-container>
    <ng-template #testingHeader>
      <h3 class="scrum__h3">小測驗</h3>
      <a class="btn btn_secondary btn_test" *ngIf="isTestPassed" [class.popup_pass-animation]="isTestPassed" [routerLink]="['/level']">前往下一關</a>
    </ng-template>
  </div>
  <div class="scrum__container" cdkDropListGroup>
    <!-- Scrum起源與應用 -->
    <div class="tab-intro scrum__margin-top" *ngIf="!isTesting">
      <div class="tab-intro__title-box">
        <p class="tab-intro__title">Scrum起源與應用</p>
      </div>
      <div class="tab-intro__content">
        <p class="tab-intro__text">Scrum源自於英式橄欖球，與隊友環繞在一起的形式去對陣爭球；進而表示以「橄欖球式」的方法，團隊作為一個整體前進，在團隊的內部傳球並保持陣形。Scrum是敏捷開發底下的一種框架模式，適用於需要即時因應市場變化的開發方式，注重團隊的相互合作，而團隊每個人也都是為了完成目標(Sprint Goal)努力。</p>
      </div>
    </div>
    <div class="scrum-drag" *ngIf="isTesting">
      <p class="scrum-drag__text">請將以下選項拖曳至正確的框內</p>
      <div class="scrum-drag__box" cdkDropList [cdkDropListData]="scrumDragQuestions" cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
        <div class="drag-card" cdkDrag [cdkDragData]="scrumDragQuestion" *ngFor="let scrumDragQuestion of scrumDragQuestions">
          <p class="drag-card__text">{{scrumDragQuestion}}</p>
        </div>
      </div>
    </div>
    <!-- 介紹 -->
    <div class="information" *ngIf="!isTesting">
      <p class="information__title">Scrum的名詞解釋</p>
      <div class="information__container">
        <div class="card1">
          <p class="card1__title">產品代辦清單</p>
          <p class="card1__sub-title">Product Backlog</p>
          <a class="btn btn_ghost" *ngIf="!isReadIntroStatus[0];else productIntro" (click)="setIsReadStatus(0)">了解更多</a>
          <ng-template #productIntro>
            <div class="card1__mark-box">
              <p class="card1__mark-title">指整個團隊代辦事項的清單</p>
            </div>
            <ul class="card1__ul">
              <li class="card1__li">
                <i class="card1__list-style"></i>
                <p class="card1__list-text">每個事項都有優先度的等級</p>
              </li>
              <li class="card1__li">
                <i class="card1__list-style"></i>
                <p class="card1__list-text">以使用者故事的方式進行撰寫</p>
              </li>
              <li class="card1__li">
                <i class="card1__list-style"></i>
                <p class="card1__list-text">Scrum的任務核心</p>
              </li>
            </ul>
          </ng-template>
        </div>
        <div class="card1">
          <p class="card1__title">短衝</p>
          <p class="card1__sub-title">Sprint</p>
          <a class="btn btn_ghost" *ngIf="!isReadIntroStatus[1];else sprintIntro" (click)="setIsReadStatus(1)">了解更多</a>
          <ng-template #sprintIntro>
            <div class="card1__mark-box">
              <p class="card1__mark-title">短期且固定時間內，完成交付的任務</p>
            </div>
            <ul class="card1__ul">
              <li class="card1__li">
                <i class="card1__list-style"></i>
                <p class="card1__list-text">短衝是迭代的</p>
              </li>
              <li class="card1__li">
                <i class="card1__list-style"></i>
                <p class="card1__list-text">不斷回饋的過程即時修正工作方向</p>
              </li>
              <li class="card1__li">
                <i class="card1__list-style"></i>
                <p class="card1__list-text">通常為15～30天的工作週期</p>
              </li>
            </ul>
          </ng-template>
        </div>
        <div class="card1">
          <p class="card1__title">腳色</p>
          <p class="card1__sub-title">Roles</p>
          <a class="btn btn_ghost" *ngIf="!isReadIntroStatus[2];else roleIntro" (click)="setIsReadStatus(2)">了解更多</a>
          <ng-template #roleIntro>
            <div class="card1__mark-box">
              <p class="card1__mark-title">Scrum團隊裡所需的職位</p>
            </div>
            <ul class="card1__ul">
              <li class="card1__li card1__li_no-margin">
                <i class="card1__list-style"></i>
                <p class="card1__list-text">產品負責人 (PO)</p>
              </li>
              <li class="card1__li">
                <i class="card1__list-style card1__list-style_hidden"></i>
                <p class="card1__list-text">決定方向、代表客戶的意願</p>
              </li>
              <li class="card1__li card1__li_no-margin">
                <i class="card1__list-style"></i>
                <p class="card1__list-text">Scrum Master (SM)</p>
              </li>
              <li class="card1__li">
                <i class="card1__list-style card1__list-style_hidden"></i>
                <p class="card1__list-text">監督、促進流程</p>
              </li>
              <li class="card1__li card1__li_no-margin">
                <i class="card1__list-style"></i>
                <p class="card1__list-text">開發團隊 (DV)</p>
              </li>
              <li class="card1__li">
                <i class="card1__list-style card1__list-style_hidden"></i>
                <p class="card1__list-text">執行任務、實際開發</p>
              </li>
            </ul>
          </ng-template>
        </div>
      </div>
    </div>
    <!-- 測驗 -->
    <div class="information" *ngIf="isTesting">
      <div class="information__container information_margin-top-m">
        <div class="card1 card1_no-border">
          <p class="card1__title">產品代辦清單</p>
          <p class="card1__sub-title">Product Backlog</p>
          <div class="card1__drag-item">
            <div class="card1__drag-box" cdkDropList [cdkDropListData]="products" (cdkDropListDropped)="dropToAnswer($event, '整個團隊代辦事項的清單')">
              <div class="drag-card" cdkDrag [cdkDragData]="product" *ngFor="let product of products">
                <p class="drag-card__text">{{product}}</p>
              </div>
            </div>
            <ul class="card1__ul">
              <li class="card1__li">
                <i class="card1__list-style"></i>
                <p class="card1__list-text">每個事項都有優先度的等級</p>
              </li>
              <li class="card1__li">
                <i class="card1__list-style"></i>
                <p class="card1__list-text">以使用者故事的方式進行撰寫</p>
              </li>
              <li class="card1__li">
                <i class="card1__list-style"></i>
                <p class="card1__list-text">Scrum的任務核心</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="card1 card1_no-border">
          <p class="card1__title">短衝</p>
          <p class="card1__sub-title">Sprint</p>
          <div class="card1__drag-item">
            <div class="card1__drag-box" cdkDropList [cdkDropListData]="sprints" (cdkDropListDropped)="dropToAnswer($event, '在固定時間內完成被交付的任務')">
              <div class="drag-card" cdkDrag *ngFor="let sprint of sprints">
                <p class="drag-card__text">{{sprint}}</p>
              </div>
            </div>
            <ul class="card1__ul">
              <li class="card1__li">
                <i class="card1__list-style"></i>
                <p class="card1__list-text">短衝是迭代的</p>
              </li>
              <li class="card1__li">
                <i class="card1__list-style"></i>
                <p class="card1__list-text">不斷回饋的過程即時修正工作方向</p>
              </li>
              <li class="card1__li">
                <i class="card1__list-style"></i>
                <p class="card1__list-text">通常為15～30天的工作週期</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="card1 card1_no-border">
          <p class="card1__title">腳色</p>
          <p class="card1__sub-title">Roles</p>
          <div class="card1__drag-item">
            <div class="card1__drag-box" cdkDropList [cdkDropListData]="role1" (cdkDropListDropped)="dropToAnswer($event, '產品負責人 (PO)')">
              <div class="drag-card" cdkDrag *ngFor="let role of role1">
                <p class="drag-card__text">{{role}}</p>
              </div>
            </div>
            <ul class="card1__ul">
              <li class="card1__li">
                <i class="card1__list-style"></i>
                <p class="card1__list-text">決定方向、代表客戶的意願</p>
              </li>
            </ul>
          </div>
          <div class="card1__drag-item">
            <div class="card1__drag-box" cdkDropList [cdkDropListData]="role2" (cdkDropListDropped)="dropToAnswer($event, 'Scrum Master (SM)')">
              <div class="drag-card" cdkDrag *ngFor="let role of role2">
                <p class="drag-card__text">{{role}}</p>
              </div>
            </div>
            <ul class="card1__ul">
              <li class="card1__li">
                <i class="card1__list-style"></i>
                <p class="card1__list-text">監督、促進流程</p>
              </li>
            </ul>
          </div>
          <div class="card1__drag-item">
            <div class="card1__drag-box" cdkDropList [cdkDropListData]="role3" (cdkDropListDropped)="dropToAnswer($event, '開發團隊 (DV)')">
              <div class="drag-card" cdkDrag *ngFor="let role of role3">
                <p class="drag-card__text">{{role}}</p>
              </div>
            </div>
            <ul class="card1__ul">
              <li class="card1__li">
                <i class="card1__list-style"></i>
                <p class="card1__list-text">執行任務、實際開發</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="popup" [class.popup_show]="isShowErrorPopup">
  <div class="popup__container" [class.popup_show-animation]="isShowErrorPopup">
    <i class="popup__error"></i>
    <div class="popup__text-box">
      <p class="popup__title">Opps! 答錯了</p>
      <p class="popup__sub-title">再仔細想想答案是什麼</p>
    </div>
    <div class="popup__footer">
      <a class="btn btn_popup" (click)="goToReview()">返回複習</a>
      <a class="btn btn_secondary btn_popup" (click)="isShowErrorPopup = false">再次嘗試</a>
    </div>
  </div>
</div>
<div class="popup" [class.popup_show]="isShowPassedPopup">
  <div class="popup__container" [class.popup_show-animation]="isShowPassedPopup">
    <i class="popup__pass"></i>
    <div class="popup__text-box">
      <p class="popup__title">恭喜你！</p>
      <p class="popup__sub-title">完成測驗挑戰</p>
    </div>
    <div class="popup__footer">
      <a class="btn btn_popup" (click)="isShowPassedPopup = false">關閉視窗</a>
      <a class="btn btn_secondary btn_popup" [routerLink]="['/level']">下一關</a>
    </div>
  </div>
</div>
