<div class="scrum-intro">
  <div class="tab-intro">
    <div class="tab-intro__title-box">
      <p class="tab-intro__title">Scrum起源與應用</p>
    </div>
    <div class="tab-intro__content">
      <p class="tab-intro__text">Scrum源自於英式橄欖球，與隊友環繞在一起的形式去對陣爭球；進而表示以「橄欖球式」的方法，團隊作為一個整體前進，在團隊的內部傳球並保持陣形。Scrum是敏捷開發底下的一種框架模式，適用於需要即時因應市場變化的開發方式，注重團隊的相互合作，而團隊每個人也都是為了完成目標(Sprint Goal)努力。</p>
    </div>
  </div>
  <!-- 介紹 -->
  <div class="information" *ngIf="false">
    <p class="information__title">Scrum的名詞解釋</p>
    <div class="information__container">
      <div class="card1">
        <p class="card1__title">產品代辦清單</p>
        <p class="card1__sub-title">Product Backlog</p>
        <!-- <a class="btn btn_ghost">了解更多</a> -->
        <ng-container>
          <p class="card1__mark-title">指整個團隊代辦事項的清單</p>
          <ul class="card1__ul">
            <li class="card1__li">
              <i class="card1__list-style"></i>
              <p class="card1__list-text">每個事項都有優先度的等級</p>
            </li>
            <li class="card1__li">
              <i class="card1__list-style"></i>
              <p class="card1__list-text">以使用者故事的方式進行撰寫</p>
            </li>
            <li class="card1__li">
              <i class="card1__list-style"></i>
              <p class="card1__list-text">Scrum的任務核心</p>
            </li>
          </ul>
        </ng-container>
      </div>
      <div class="card1">
        <p class="card1__title">短衝</p>
        <p class="card1__sub-title">Sprint</p>
        <!-- <a class="btn btn_ghost">了解更多</a> -->
        <ng-container>
          <p class="card1__mark-title">短期且固定時間內，完成交付的任務</p>
          <ul class="card1__ul">
            <li class="card1__li">
              <i class="card1__list-style"></i>
              <p class="card1__list-text">短衝是迭代的</p>
            </li>
            <li class="card1__li">
              <i class="card1__list-style"></i>
              <p class="card1__list-text">不斷回饋的過程即時修正工作方向</p>
            </li>
            <li class="card1__li">
              <i class="card1__list-style"></i>
              <p class="card1__list-text">通常為15～30天的工作週期</p>
            </li>
          </ul>
        </ng-container>
      </div>
      <div class="card1">
        <p class="card1__title">腳色</p>
        <p class="card1__sub-title">Roles</p>
        <!-- <a class="btn btn_ghost">了解更多</a> -->
        <ng-container>
          <p class="card1__mark-title">Scrum團隊裡所需的職位</p>
          <ul class="card1__ul">
            <li class="card1__li card1__li_no-margin">
              <i class="card1__list-style"></i>
              <p class="card1__list-text">產品負責人 (PO)</p>
            </li>
            <li class="card1__li">
              <i class="card1__list-style card1__list-style_hidden"></i>
              <p class="card1__list-text">決定方向、代表客戶的意願</p>
            </li>
            <li class="card1__li card1__li_no-margin">
              <i class="card1__list-style"></i>
              <p class="card1__list-text">Scrum Master (SM)</p>
            </li>
            <li class="card1__li">
              <i class="card1__list-style card1__list-style_hidden"></i>
              <p class="card1__list-text">監督、促進流程</p>
            </li>
            <li class="card1__li card1__li_no-margin">
              <i class="card1__list-style"></i>
              <p class="card1__list-text">開發團隊 (DV)</p>
            </li>
            <li class="card1__li">
              <i class="card1__list-style card1__list-style_hidden"></i>
              <p class="card1__list-text">執行任務、實際開發</p>
            </li>
          </ul>
        </ng-container>
      </div>
    </div>
  </div>
  <!-- 測驗 -->
  <div class="information">
    <div class="information__container">
      <div class="card1 card1_no-border">
        <p class="card1__title">產品代辦清單</p>
        <p class="card1__sub-title">Product Backlog</p>
        <div class="card1__drag-item">
          <div class="card1__drag-box"></div>
          <ul class="card1__ul">
            <li class="card1__li">
              <i class="card1__list-style"></i>
              <p class="card1__list-text">每個事項都有優先度的等級</p>
            </li>
            <li class="card1__li">
              <i class="card1__list-style"></i>
              <p class="card1__list-text">以使用者故事的方式進行撰寫</p>
            </li>
            <li class="card1__li">
              <i class="card1__list-style"></i>
              <p class="card1__list-text">Scrum的任務核心</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="card1 card1_no-border">
        <p class="card1__title">短衝</p>
        <p class="card1__sub-title">Sprint</p>
        <div class="card1__drag-item">
          <div class="card1__drag-box"></div>
          <ul class="card1__ul">
            <li class="card1__li">
              <i class="card1__list-style"></i>
              <p class="card1__list-text">短衝是迭代的</p>
            </li>
            <li class="card1__li">
              <i class="card1__list-style"></i>
              <p class="card1__list-text">不斷回饋的過程即時修正工作方向</p>
            </li>
            <li class="card1__li">
              <i class="card1__list-style"></i>
              <p class="card1__list-text">通常為15～30天的工作週期</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="card1 card1_no-border">
        <p class="card1__title">腳色</p>
        <p class="card1__sub-title">Roles</p>
        <div class="card1__drag-item">
          <div class="card1__drag-box"></div>
          <ul class="card1__ul">
            <li class="card1__li">
              <i class="card1__list-style"></i>
              <p class="card1__list-text">決定方向、代表客戶的意願</p>
            </li>
          </ul>
        </div>
        <div class="card1__drag-item">
          <div class="card1__drag-box"></div>
          <ul class="card1__ul">
            <li class="card1__li">
              <i class="card1__list-style"></i>
              <p class="card1__list-text">監督、促進流程</p>
            </li>
          </ul>
        </div>
        <div class="card1__drag-item">
          <div class="card1__drag-box"></div>
          <ul class="card1__ul">
            <li class="card1__li">
              <i class="card1__list-style"></i>
              <p class="card1__list-text">執行任務、實際開發</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
