<div class="scrum">
  <div class="scrum__header">
    <ng-container>
      <h3 class="scrum__h3">Scrum的成員</h3>
      <a class="btn btn_secondary btn_test">下一頁</a>
    </ng-container>
  </div>
</div>
<div class="scrum__container">
  <div class="member-conversation scrum__margin-top">
    <div class="member-conversation__item">
      <div class="member-conversation__user">
        <img class="member-conversation__photo" src="../../../assets/images/scrum-user1.png" alt="user1">
        <p class="member-conversation__title">Product Owner</p>
        <p class="member-conversation__sub-title">產品負責人 (PO)</p>
      </div>
      <div class="member-conversation__dialog">
        <p class="member-conversation__dialog-text">我負責幫助團隊了解目標、安排Product Backlog任務優先度，並且專注於客戶需求。</p>
      </div>
    </div>
    <div class="member-conversation__item">
      <div class="member-conversation__user">
        <img class="member-conversation__photo" src="../../../assets/images/scrum-user2.png" alt="user2">
        <p class="member-conversation__title">Scrum Master</p>
        <p class="member-conversation__sub-title">(SM)</p>
      </div>
      <div class="member-conversation__dialog">
        <p class="member-conversation__dialog-text">我主導團隊的流程，提升團隊效率，讓團隊系統性的執行任務，扮演團隊中的潤滑劑。</p>
      </div>
    </div>
    <div class="member-conversation__item">
      <div class="member-conversation__user">
        <img class="member-conversation__photo" src="../../../assets/images/scrum-user3.png" alt="user3">
        <p class="member-conversation__title">Development Team</p>
        <p class="member-conversation__sub-title">開發團隊 (DV)</p>
      </div>
      <div class="member-conversation__dialog">
        <p class="member-conversation__dialog-text">我負責開發產品，是任務的執行端。</p>
      </div>
    </div>
  </div>
</div>
