<div class="scrum">
  <div class="scrum__header">
    <h3 class="scrum__h3">Scrum的運作與進行方式</h3>
    <a class="btn btn_secondary btn_test" (click)="goNext()">我瞭解了，前進下一關</a>
  </div>
  <div class="scrum__container scrum__container_scroll" cdkDropListGroup>
    <!-- Scrum起源與應用 -->
    <div class="tab-intro">
      <div class="tab-intro__title-box">
        <p class="tab-intro__title">Scrum的流程</p>
      </div>
      <div class="tab-intro__content">
        <p class="tab-intro__sub-title">短衝 Sprint</p>
        <p class="tab-intro__text">指 Scrum 團隊完成一定數量工作所需的短暫、固定的週期，基本上 Sprint 的週期為 2–4 週，且維持固定時間很重要，這會讓團隊維持工作節奏。此外，在這段期間內，需要完成被交付的任務。</p>
      </div>
    </div>
    <!-- 介紹 -->
    <div class="information" *ngIf="true">
      <p class="information__title">全員參加的會議</p>
      <div class="information__container">
        <div class="card1 card1_small">
          <div class="card1__mark-box">
            <p class="card1__mark-title card1__mark-title_bold">Planning Meeting</p>
            <p class="card1__mark-small-title card1__mark-small-title_bold">計畫會議</p>
          </div>
          <p class="card1__mark-small-title">由 PO 主持會議，決定短衝工作內容，與團員討論任務的拆分方式，並以 Sprint Point 方式評估任務難度與所需時間。</p>
          <div class="card1__point">
            <i class="card1__point-icon"></i>
            <p class="card1__point-text">Sprint Point</p>
            <div class="card1__point-box">
              <p>Sprint Point需評估各種面向，再加入分數去計算任務所需時程：</p>
              <ul class="card1__point-box-ul">
                <li>任務的繁雜度</li>
                <li>對任務的熟悉程度</li>
                <li>需要的作業時間</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card1 card1_small">
          <div class="card1__mark-box">
            <p class="card1__mark-title card1__mark-title_bold">Planning Meeting</p>
            <p class="card1__mark-small-title card1__mark-small-title_bold">計畫會議</p>
          </div>
          <p class="card1__mark-small-title">每天都要進行的會議，以15 分鐘為限制討論：</p>
          <ul class="card1__ul card1__ul_no-padding card1__ul_no-margin-top">
            <li class="card1__li card1__li_no-margin">
              <i class="card1__list-style card1__list-style_small"></i>
              <p class="card1__list-text">昨天做了什麼</p>
            </li>
            <li class="card1__li card1__li_no-margin">
              <i class="card1__list-style card1__list-style_small"></i>
              <p class="card1__list-text">今天要做什麼</p>
            </li>
            <li class="card1__li card1__li_no-margin">
              <i class="card1__list-style card1__list-style_small"></i>
              <p class="card1__list-text">目前遇到什麼問題與難題</p>
            </li>
          </ul>
        </div>
        <div class="card1 card1_small">
          <div class="card1__mark-box">
            <p class="card1__mark-title card1__mark-title_bold">Sprint Review</p>
            <p class="card1__mark-small-title card1__mark-small-title_bold">檢視會議</p>
          </div>
          <p class="card1__mark-small-title">用來檢視該次短衝增量的成果，以蒐集相關的回饋數據或意見。</p>
        </div>
        <div class="card1 card1_small">
          <div class="card1__mark-box">
            <p class="card1__mark-title card1__mark-title_bold">Sprint Retro</p>
            <p class="card1__mark-small-title card1__mark-small-title_bold">自省會議</p>
          </div>
          <p class="card1__mark-small-title">團隊在自省會議裡，會共同回顧該短衝歷程發生的事情：</p>
          <ul class="card1__ul card1__ul_no-padding card1__ul_no-margin-top">
            <li class="card1__li card1__li_no-margin">
              <i class="card1__list-style card1__list-style_small"></i>
              <p class="card1__list-text">好的地方</p>
            </li>
            <li class="card1__li card1__li_no-margin">
              <i class="card1__list-style card1__list-style_small"></i>
              <p class="card1__list-text">可以改進的地方</p>
            </li>
            <li class="card1__li card1__li_no-margin">
              <i class="card1__list-style card1__list-style_small"></i>
              <p class="card1__list-text">如何維持己有的成功經驗</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
