<div class="scrum">
  <div class="scrum__header">
    <ng-container *ngIf="!isTesting;else testing">
      <h3 class="scrum__h3">Scrum的好幫手</h3>
      <a class="btn btn_secondary btn_test" (click)="isTesting = true">準備好測驗了</a>
    </ng-container>
    <ng-template #testing>
      <h3 class="scrum__h3">小測驗</h3>
      <a *ngIf="isTestPassed" [class.popup_pass-animation]="isTestPassed" class="btn btn_secondary btn_test" [routerLink]="['/level']">完成挑戰</a>
    </ng-template>
  </div>
  <div class="scrum__container scrum__container_scroll" *ngIf="!isTesting">
    <div class="tool">
      <img class="tool__logo" src="../../../assets/images/jira-logo.png" alt="jira" srcset="">
      <p class="tool__sub-title">提供各種版型，可以建立Sprint版面，讓你填寫任務清單，並整齊列出負責的任務、以及追蹤任務時程。</p>
      <div class="tool__info">
        <div class="tool__info-item">
          <div class="tool__photo-box">
            <img src="../../../assets/images/backlog.png" alt="Backlog" class="tool__info-photo">
          </div>
          <p class="tool__info-title">Backlog</p>
        </div>
        <div class="tool__info-item">
          <div class="tool__photo-box">
            <img src="../../../assets/images/tracking.png" alt="Tracking" class="tool__info-photo tool__info-photo_tracking">
          </div>
          <p class="tool__info-title">Tracking</p>
        </div>
        <div class="tool__info-item">
          <div class="tool__photo-box">
            <img src="../../../assets/images/kanban.png" alt="Kanban" class="tool__info-photo">
          </div>
          <p class="tool__info-title">Kanban</p>
        </div>
      </div>
    </div>
    <div class="tool">
      <img class="tool__logo" src="../../../assets/images/confluece-logo.png" alt="jira" srcset="">
      <p class="tool__sub-title">提供你撰寫各式文件，內建許多豐富版型，可以依照需求挑選適合的版型。</p>
      <div class="tool__info">
        <div class="tool__info-item">
          <div class="tool__photo-box">
            <img src="../../../assets/images/meeting.png" alt="會議記錄" class="tool__info-photo tool__info-photo_absolute">
          </div>
          <p class="tool__info-title">會議記錄</p>
        </div>
        <div class="tool__info-item">
          <div class="tool__photo-box">
            <img src="../../../assets/images/spec.png" alt="產品規格書" class="tool__info-photo tool__info-photo_absolute">
          </div>
          <p class="tool__info-title">產品規格書</p>
        </div>
        <div class="tool__info-item">
          <div class="tool__photo-box">
            <img src="../../../assets/images/design.png" alt="設計文件" class="tool__info-photo tool__info-photo_absolute">
          </div>
          <p class="tool__info-title">設計文件</p>
        </div>
      </div>
    </div>
  </div>
  <div class="scrum__container" cdkDropListGroup>
    <div class="scrum-drag" *ngIf="isTesting">
      <p class="scrum-drag__text">請將以下選項拖曳至正確的框內</p>
      <div class="scrum-drag__box" cdkDropList [cdkDropListData]="scrumDragQuestions" cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
        <div class="drag-card" cdkDrag [cdkDragData]="scrumDragQuestion" *ngFor="let scrumDragQuestion of scrumDragQuestions">
          <p class="drag-card__text">{{scrumDragQuestion}}</p>
        </div>
      </div>
    </div>
    <div class="tool-testing">
      <div class="tool-testing__item">
        <img class="tool-testing__logo" src="../../../assets/images/jira-logo.png" alt="jira" srcset="">
        <div class="tool-testing__drag-box" cdkDropList [cdkDropListData]="jiras" (cdkDropListDropped)="dropToAnswer($event, ['建立Sprint', '追蹤任務時程'])">
          <div class="drag-card" cdkDrag [cdkDragData]="jira" *ngFor="let jira of jiras">
            <p class="drag-card__text">{{jira}}</p>
          </div>
        </div>
      </div>
      <div class="tool-testing__item">
        <img class="tool-testing__logo" src="../../../assets/images/confluece-logo.png" alt="confluece" srcset="">
        <div class="tool-testing__drag-box" cdkDropList [cdkDropListData]="conflueces" (cdkDropListDropped)="dropToAnswer($event, ['撰寫產規格書', '撰寫會議紀錄'])">
          <div class="drag-card" cdkDrag [cdkDragData]="confluece" *ngFor="let confluece of conflueces">
            <p class="drag-card__text">{{confluece}}</p>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="popup" [class.popup_show]="isShowErrorPopup">
  <div class="popup__container" [class.popup_show-animation]="isShowErrorPopup">
    <i class="popup__error"></i>
    <div class="popup__text-box">
      <p class="popup__title">Opps! 答錯了</p>
      <p class="popup__sub-title">再仔細想想答案是什麼</p>
    </div>
    <div class="popup__footer">
      <a class="btn btn_popup" (click)="goToReview()">返回複習</a>
      <a class="btn btn_secondary btn_popup" (click)="isShowErrorPopup = false">再次嘗試</a>
    </div>
  </div>
</div>
<div class="popup" [class.popup_show]="isShowPassedPopup">
  <div class="popup__container" [class.popup_show-animation]="isShowPassedPopup">
    <i class="popup__pass"></i>
    <div class="popup__text-box">
      <p class="popup__title">恭喜你！</p>
      <p class="popup__sub-title">完成測驗挑戰</p>
    </div>
    <div class="popup__footer">
      <a class="btn btn_popup" (click)="isShowPassedPopup = false">關閉視窗</a>
      <a class="btn btn_secondary btn_popup" [routerLink]="['/level']">勇者的祝福</a>
    </div>
  </div>
</div>
