<div class="test">
  <a class="test__leave"></a>
  <div class="test__header">
    <div class="process">
      <div class="process__item process__item_fill"></div>
      <div class="process__item"></div>
      <div class="process__item"></div>
      <div class="process__item"></div>
    </div>
    <div class="test__item">
      <h3 class="test__h3">Scrum的介紹</h3>
      <a class="btn btn_secondary btn_test" [class.btn_disabled]="true">準備好測驗了</a>
    </div>
    <div class="test__container">
      <app-scrum-intro></app-scrum-intro>
    </div>
  </div>
</div>
