@import '../../../assets/styles/variable';
@import '../../../assets/styles/mixins';
@import '../../../assets/styles/components';

.test {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 6.4rem 10rem 0 10rem;
  background-color: $background-color;
  overflow: hidden;

  &__header {
    width: 100%;
  }

  &__h3 {
    @include h3();
  }

  &__leave {
    position: absolute;
    top: 2rem;
    left: 10.4rem;
    width: 26px;
    height: 26px;
    background-image: url('../../../assets/images/leave.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;

    &:hover {
      opacity: .7;
    }
  }
}

.process {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;

  &__item {
    flex: 1;
    height: 1.7rem;
    border: 2px solid $color-black-dark;

    &:not(:last-child) {
      margin-right: 1.2rem;
    }

    &_fill {
      background-color: $color-primary;
    }
  }
}
