@import './variable';
@import './mixins';

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10.4rem;
  height: 6.4rem;
  border-radius: 1rem;
  transition: all .3s;
  cursor: pointer;

  @include regular-border();
  @include h4();

  &_test {
    width: 16.4rem;
    height: 6.4rem;

    @include sub-title();
  }

  &_disabled {
    border: 3px solid $color-gray-light4 !important;
    background: $color-gray-light3 !important;
    color: $color-gray-light4 !important;
    pointer-events: none;
  }

  &_primary {
    background-color: $color-primary;
  }

  &_secondary {
    background-color: $color-secondary;
  }

  &_ghost {
    width: 16.5rem;
    height: 6.4rem;
    font-size: 2rem;
    margin: 0 auto;
    background-color: $background-color;
  }

  &_popup {
    width: 17.2rem;
    height: 6.4rem;
    font-size: 2rem;
  }

  &:hover {
    box-shadow: 6px 6px 0 3px;
  }
}

.tab-intro {
  width: 100%;
  margin-bottom: 2.3rem;

  &__title-box {
    @include regular-border();

    width: fit-content;
    padding: .8rem 2rem;
    border-radius: 8px 8px 0px 0px;
    background-color: $color-primary;
  }

  &__title {
    letter-spacing: .1rem;
    @include title();
  }

  &__content {
    @include regular-border();

    width: 100%;
    padding: 2rem;
    margin-top: -0.8rem;
    border-radius: 8px;
    background-color: $color-white;
  }

  &__text {
    @include sub-title();
  }
}

.scrum {
  width: 100%;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__h3 {
    @include h3();
  }

  &__container {
    width: 100%;
  }

  &__margin-top {
    margin-top: 3.6rem;
  }
}

.card1 {
  @include regular-border();

  width: 39.7rem;
  min-height: 39rem;
  padding: 2.4rem 2.4rem 1rem 2.4rem;
  border-radius: 8px;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.85);
  background-color: $color-blue-dark1;

  &:not(:last-child) {
    margin-right: 2.4rem;
  }

  &__title {
    @include title();

    font-weight: 700;
    color: $color-black-dark;
    text-align: center;
  }

  &__sub-title {
    @include small-title();

    margin-bottom: 4.5rem;
    font-weight: 700;
    color: $color-black-dark;
    text-align: center;
  }

  &__mark-title {
    @include sub-title();
    @include regular-border();

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 4.8rem;
    margin-top: -2.9rem;
    border-radius: 8px;
    text-align: center;
    background: $color-white;
  }

  &__ul {
    list-style-type: none;
    padding: 0 3.8rem;
    margin-top: 1.6rem;
  }

  &__li {
    @include small-title();

    display: flex;
    justify-content: flex-start;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 1.2rem;
    }

    &_no-margin {
      margin-bottom: 0 !important;
    }
  }

  &__list-style {
    display: block;
    min-width: 1.6rem;
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 1rem;
    background-color: $color-black-dark;
    border-radius: 50%;

    &_hidden {
      visibility: hidden;
    }
  }

  &__drag-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem .8rem;
    width: 31.6rem;
    min-height: 8.4rem;
    background: $color-blue-dark1;
    border-radius: 8px;
  }

  &__drag-item {
    margin-bottom: 1.6rem;
  }

  &_no-border {
    padding: 0;
    box-shadow: none;
    border: none;
    background-color: transparent;
  }

  &_no-border &__title,  &_no-border &__sub-title {
    text-align: left;
  }

  &_no-border &__sub-title {
    margin-bottom: 1.6rem;
  }

  &_no-border &__ul {
    padding: 0;
    margin-top: .8rem;
  }
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color-black-dark, .7);
  opacity: 0;
  pointer-events: none;
  transform: all .3s;

  &__container {
    @include regular-border();
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 48rem;
    height: 30rem;
    padding: 4.5rem 5.7rem 4rem 5.7rem;
    border-radius: 1rem;
    background-color: $background-color;
    transition: all .3s;
  }

  &_show {
    opacity: 1;
    pointer-events: all;
  }

  &_show-animation {
    animation: background-show;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  &_pass-animation {
    animation: popup-pass infinite;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  &__error {
    display: block;
    width: 4rem;
    height: 4rem;
    background-image: url('../images/close-error.png');
    background-size: 100% 100%;
  }

  &__pass {
    display: block;
    width: 4rem;
    height: 4rem;
    background-image: url('../images/passed.png');
    background-size: 100% 100%;
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
  }

  &__title {
    @include title();

    margin-bottom: .3rem;
    color: $color-black-dark;
  }

  &__sub-title {
    @include sub-title();
  }

  &__footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@keyframes background-show {
  0%   {
    transform: scale(-0.5);
  }
  25%  {
    transform: rotate(5deg) translate(-50%, -50%);
  }
  50%  {
    transform: rotate(-5deg) translate(-50%, -50%);
  }
  75%  {
    transform: rotate(5deg) translate(-50%, -50%);
  }
  100% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
}

@keyframes popup-pass {
  0%  {
    transform: scale(1);
  }
  50%  {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
