@import './variable';

@mixin h1 {
  font-weight: 400;
  font-size: 6.4rem;
  line-height: 140%;
  color: $color-black-dark;
  text-align: center;
}

@mixin h3 {
  font-weight: 400;
  font-size: 4.5rem;
  line-height: 140%;
  color: $color-black-dark;
  text-align: center;
}

@mixin h4 {
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 160%;
  color: $color-black-dark;;
  text-align: center;
}
