$background-color: #FFFEF8;
$color-black-dark: #121212;
$color-primary: #2E58EC;
$color-blue-dark1: #D8E3F0;
$color-secondary: #FFCD1E;
$color-gray-light3: #EEEEEE;
$color-gray-light4: #DFDFDF;
$color-gray-dark1: #8D8D8D;
$color-white: #fff;


