<div class="level">
  <a class="level__backto"></a>
  <div class="level__container">
    <h3 class="level__h3">新手你好，請選擇想挑戰的關卡</h3>
    <div class="step step_1" [class.step_lock]="false">
      <img class="step__user" src="../../../assets/images/user1.png" alt="user">
      <div class="step__question">
        <p class="step__text">什麼是Scrum</p>
        <img class="step__lock" src="../../../assets/images/lock.png" alt="lock">
      </div>
      <i class="step__triangle"></i>
    </div>
    <div class="step step_2" [class.step_lock]="true">
      <img class="step__user" src="../../../assets/images/user2.png" alt="user">
      <div class="step__question">
        <p class="step__text">Scrum的成員</p>
        <img class="step__lock" src="../../../assets/images/lock.png" alt="lock">
      </div>
      <i class="step__triangle"></i>
    </div>
    <div class="step step_3" [class.step_lock]="true">
      <img class="step__user" src="../../../assets/images/user3.png" alt="user">
      <div class="step__question">
        <p class="step__text">Scrum如何運作</p>
        <img class="step__lock" src="../../../assets/images/lock.png" alt="lock">
      </div>
      <i class="step__triangle"></i>
    </div>
    <div class="step step_4" [class.step_lock]="true">
      <img class="step__user" src="../../../assets/images/user4.png" alt="user">
      <div class="step__question">
        <p class="step__text">Scrum如何運作</p>
        <img class="step__lock" src="../../../assets/images/lock.png" alt="lock">
      </div>
      <i class="step__triangle"></i>
    </div>
  </div>
  <!-- <img class="level__bakcground" src="../../../assets/images/bgmountain.png" alt="background mountain"> -->
</div>
